/* css rule */
/* selectors */
/* declaration block */
/* declaration property: value */

/* ELEMENT SELECTOR */
/* h1{
    color:blue;
}

h2{
    color: red;
}

p{
    color:darkgrey;
} */


/* SELECTOR GROUPING */

/* body{
    color: blue;
}

h1,h2{
    color:red;
} */


/* ID */

/* #header{
    color:blueviolet;
    background: black;
}

#footer{
    color:blue;
    background:grey;
} */

/* CLASS SELECTORS */

/* .green{
    color: green;
}

.red{
    color:red;
}



span{
    text-transform: uppercase;
} */





/* INHERITANCE */
/* body{
    color:red;
    font-family: monospace;
    line-height: 1.5em;
}

div{
    color: blue;
    border: 3px solid black;
}

h2{
    color: green;
} */



/* LAST RULE AND SPECIFICITY/UNIVERSAL SELECTOR*    */
/* 
p{
    color:blue;
}

p{
    color: red;
} */

/* .red{
    color: red;
}

p{
    color: blue;
} */

/* universal selector has the least amount of specificity */

/* *{
    color: blue;
} */



/* COLOR PROPERTIES
COLOR BACKGROUND-COLOR */

/* #first{
    color:lightblue;
    background-color: bisque;
}

#second{
    color:brown;
    background:yellow;
} */


/* RGB RED GREEN BLUE 0-255 */
/* #first {
    color: rgb(255,0,0);
    background-color: rgb(0,0,0);
}

#second {
    color: rgb(0,255,0);
    background: rgb(255,255,255);
}

#third{
    color:rgb(0,0,255);
    background: rgb(100,100,100);
}

body{
    background: rgb(100,34,210) 
}*/



/* RGBA 0-1-OPACITY/TRANSPARENCY */
/* #first{
    color:rgb(100,123,56);
    background: rgba(0,0,0,0.5);
}

#second {
    color: rgb(45,10,34);
    background: rgba(0, 0, 0, 0.25);
}

#third {
    color: rgb(255, 0, 0);
    background: rgba(0, 0, 0, 0);
}

#fourth {
    color: rgb(0, 0, 255);
    background: rgba(0, 0, 0, 1);
}
/* you can use this as an overlay for a picture (opacity) */
/* body{
    background: rgba(10,10,200, 0.3);
} */

/* HSL
HEX VALUES #RRGGBB
123456789 A(10) B(11) C(12) D(13) E(14) F(15)
          10 11 12 13 14 15
          #FF0000 - RED
          #00FF00 - GREEN */

/* #first {
    color: #ff0000;
    background: #000;
} */



/* FONT-SIZE, WIDTH, HEIGHT, PIXELS(1pixel=1dot on the screen, is an absolute value no matter the screen size) */


/* 
h1{
    font-size: 30px;
    width: 200px;
    height: 300px;
    background: blue;
} */

/* using % depends on having a parent element */
/* .outter{
    width: 200px;
    height: 200px;
    background:blue;
}
.inner{
    width: 50%;
    height: 50%;
    background: red;
} */


/* 
em-RELATIVE depends on parent
1em- 16px default browser style;
1em = base value 
*/
/* 
div{
    font-size: 10px;
} */

/* .relative{
    font-size: 2em;
}

.absolute{
    font-size: 32px;
} */

/* rem- RELATIVE depends on root
1rem = 16px default browser style; */
/* html{
    font-size: 32px;
} */
/* div {
    font-size: 10px;
}

 
.relative{
    font-size: 2em;
}

.absolute{
    font-size: 32px;
}  */

/* vh- height- percent of the screen
vw- width- percent of the screen */

/* h2{
    color:red;
    font-size: 60px;
} */


/* calc()
perform math operations + - *
mix and match values */

/* *{
    margin: 0;
}

.navbar{
    background: blue;
    height: 100px;
    color: white;
    font-size: 3rem;
}

.banner{
    background: red;
    min-height: calc(100vh - 100px);
} */

/* font-size font-family (font-stack generic-family) */

/* body{
    font-family: 'Roboto', sans-serif;
 
}

.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.subheading{
  
}
.one{
  text-indent: 50px;
}

.two{

} */

/* line-height
letter-spacing
word-spacing
text-transform
text-decoration */

/* a{
    font-size: 40px;
    text-decoration: none;
}

body{
    text-transform: uppercase;
}

h1{
    text-transform: capitalize;
    text-decoration: line-through;
}
.one{
    line-height: 0.5em;
}

.two{
    letter-spacing: 5px;
    text-decoration: overline;
}

.three{
    word-spacing: 20px;
    text-decoration: underline;
} */

/* CSS BOX MODEL */
/* padding
margin
border */

/* *{
    margin:0;
} */
/* 
/* h1{
    background: red;
    /* padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px; */
    /* padding: 20px; */
    /* margin-bottom: 0px; */
    /* margin:30px;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
   
    
} */

/* p{ */
    /* background: blue; */
    /* padding shortcuts */
    /* padding: 20px; */
    /* padding: 30px, 60px; */
    /* padding:20px 40px 60px 10px; */
    /* margin: 50px 60px; */
    /* margin: 100px; */
    /* shortcut to border:  */
    /* border: 13px solid yellowgreen */
/* }  */

/* border radius
negative margin */



/* outline
offset */

/* .buttons{
    margin: 3rem;
}

a{
background: #689f3f;
text-decoration: none;
padding: 1.2rem 1.5rem;
color: #222;
text-transform: uppercase;
cursor: pointer;
margin: 0 20px;
}

#one{
    border: 0.2rem solid #222;
}

#two{
    outline-width: 0.2rem;
    outline-style: solid;
    outline-color: #222;
    outline-offset: -10px;
} */

/* Defalut Display Property */
/* Block: Always starts a new line and takes full width */
/* Inline: Does not start a new line and only takes up as much as content space as necessary */

/* .block {
    background: blue;
    color: white;
    
}

.inline {
    background: red;
    color: white;
    display: block;
} */

/* -----Horizontal Centering---- */
/* body{
    text-align: center;
}

block elements need to be moved horizontally using margin and inline elements move horizontally using text align.

.block {
    background: blue;
    color: white;
    width: 150px;
    margin: 0 auto;

}

.inline { */
    /* background: red;
    color: white;

} 

/* Mobile Navbar
list-style-type: style type property
descendant selectors */
/* 
div{
    background: blue;
    color: azure;
    padding: 20px;
    margin: 20px;
} */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li{
    list-style-type: none;
} */

 /* display: block; need to make our links a block element instead of inline element(default) so it will be able to use padding and margin */
/* 
ul li a{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    background: black;
    color: #f15025;
    display: block; 
    padding: 10px 10px;
  
} */

/* ------inline block----- */
/* a{
    font-size: 60px;
    background: red;
    margin: 10px;
    display: inline-block;
} */

/* .box-1, 
.box-2, 
.box-3{
    width: 200px;
    height: 200px;
    color: white; */
/* } */

/* .box-1{
    background:red;
    padding: 20px;
    box-sizing: border-box;
   
}

.box-2 {
    background: blue;
  
}

.box-3 {
    background: green;
    padding: 20px;
} */

/* display:none */
/* opacity: 0-1
visibility:hidden; */

/* div {
    background: blue;
    margin: 10px;
    color:azure;
}

.none {
    display: none;
}

.opacity-0{
    opacity: 0;
}

.opacity-5 {
    opacity: 0.5;
}

.visibility{
    visibility: hidden;
} */